@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
    font-family: "indie Flower", cursive;
}

body {
    background-color: #7a99b7;
    background-image: radial-gradient(ellipse, #c7d7ee, #5d83a7);
}